/* Contact */

.pageTitle {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: 0 auto;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    padding: 10px;
    border: 1px solid #aec6cf;
    border-radius: 5px;
  }
  
  .textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submit {
    background-color: #aec6cf;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #499bb7;
  }
  