/* portfolio */

.portfolioMain {
    padding: 20px;
    background-color: #ffffff; 
    text-align: center; 
  }
  
  .pageTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .projectContainer {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    align-items: center; /* Center-align the project boxes */
    gap: 15px; /* Add spacing between the boxes */
  }
  